$icon-size:50px;
$dark-overlay:rgba(0,0,0,0.6);
.navbar{
    font-size:20px;
    background:#000;
}
.carousel-item{
    height: 450px;
}
.carousel-img-1{
    background:url(../img/carouslel-1.jpeg);
    background-size: cover;
}
.carousel-img-2{
    background:url(../img/carouslel-2.jpeg);
    background-size: cover;
}
.carousel-img-3{
    background:url(../img/carouslel-3.jpg);
    background-size: cover;
}
.carousel-img-4{
    background:url(../img/carouslel-4.jpeg);
    background-size: cover;
}
.carousel-img-5{
    background:url(../img/carouslel-5.jpg);
    background-size: cover;
}
#homeicon{
    .fa{
        font-size: $icon-size;
    }
}
#get-started{
    background:url('../img/my-bg-1.jpg');
    background-size: cover;
    background-attachment:fixed;
    background-repeat:no-repeat;
    min-height: 250px;
    position:relative;
    .overlay-dark{
        background:$dark-overlay;
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height: 100%;
    }
}
#video-section{
    background:url('../img/bg1.jpeg');
    background-size: cover;
    background-attachment:fixed;
    background-repeat:no-repeat;
    min-height: 250px;
    position:relative;
    .overlay-dark{
        background:$dark-overlay;
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height: 100%;
        .fa{
            font-size: $icon-size;
        }
    }
}
#Photo-gallery{
    img{
        min-height: 250px;
    }
}
#footer{
    background:#000;
}
#about-header{
    background:url('../img/carouslel-1.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    height:200px;
}
#what-we-do{
    img{
        height:350px;
        width:350px;
    }
}
#icon-box{
    .fa{
        font-size: $icon-size;
    }
}
#testimonial{
    .slick-prev::before,
    .slick-next::before{
        color:#000;
    }
}
#services-header{
    background:url('../img/carouslel-2.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    height:200px;
}
#blog-header{
    background:url('../img/carouslel-4.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    height: 200px;
}
#contact-heading{
    background:url('../img/carouslel-1.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    height: 200px;
}
@media(max-width: 768px) {
    #info{
        img{
            margin-top: 30px;
        }
    }
    #what-we-do{
        img{
            margin-top: 30px;
        }
    }
}
@media(max-width: 576px) {
    #get-started{
        min-height: 300px;
    }
}
@media(max-width: 320px) {
    #get-started{
        min-height: 400px;
    }
}
